{% load static %}

<!--link rel="stylesheet" type="text/css" href="{% static 'cas_action/style.css' %}" /-->
<html>
<center>

<!-- ********************************* FORM 1 CHOIX FICHIER ET RETOUR ******************************************* -->
<form  action="{% url 'AppliConfig:accueil' %}" method="post" enabled=True>
{% csrf_token %}
<body>
<table class="table1">
	<tr>
		<td><h2><img src="/static/AppliConfig/images/RTEmagicC_S285-sas100K_jpg.jpg" /></h2></td>
		<td><h2> Configurateur Application v0 </h2></td>
	</tr>
</table>
<hr>
</center>

<left>
<table class = "table0">
	<tr>
		<td><h3>Fichier de paramètrage :</h3></td>
		<td><h3> {{context.form.ficHand}} </h3></td>

		{% if  context.dictFlag.flag1 == -1 %}
			<td><h3>Message :</h3></td>
			<td><h3> {{context.form.message}} </h3></td>
		{% endif %}	

		<td align="center"><input type="submit" value="Exécution" /></td>
	</tr>
	<br>
	<tr>
		<td><h3>Version SWAT :</h3></td>
		<td><h3> {{context.versSwat}} </h3></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td><a href="{% url 'AppliConfig:accueil'%}"> Retour </a></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>

</table>
*** Fin FORM1 ***
</form >
