{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'AppliConfig/style.css' %}" />

<DOCTYPE html>
<html>
<head>
<title>Config Edditor Version 1.0</title>

</head>
<body>
<table>
<tr>
<td><h1>
<img src="/static/AppliConfig/images/RTEmagicC_S285-sas100K_jpg.jpg">
Import / Export fichier de configuration yaml
<img src="/static/dqWeb/images/python.gif">
</h1></td></tr>
</table>

<hr>
<form action="{% url 'AppliConfig:ok1' %}/ListeFic" method="post" >

	<!--td><h4><a href="execSimpleAction/{{xx.id}}">{{ xx.nameAction}}</a></h4></td>
	<form  action="{% url 'cas_action:execSimpleActionStep3' %}/{{context.actSelect.id}}" method="post"-->

{% csrf_token %}
<br>
<table>
	<tr>
		<td><b> Import Config</b></td>
	</tr>
	<tr>
		<td align="center"> Fichier de Config.:</td>
		<td align="center">
			<select  id="ListeFic" name="ListeFic">
				<option value=999> Choisissez ... </option>
				{% for fic in context.listeFicYaml %}
					{% if fic == context.selectedEntity %}
					<option selected value={{fic}}> {{fic}} </option>option>
					{% else %}
					<option  value={{fic}}> {{fic}} </option>option>
					{%endif%}
				{%endfor%}
			<option value=000> Fin  </option>
			</select>
		</td>
		<td align="center"> Entité (domaine) : </td>
		<td align="center"> <input disabled type="text" value="{{context.selectedEntity}}" > </td>
		<td align="center" ><input type="submit" value="OK" /></td>
	</tr>
</table>
</form>

<form action="{% url 'AppliConfig:ok2'  %}" method="post" >
{% csrf_token %}

<br>
<table>
	<tr>
		<td><b> Export Config</b></td>
	</tr>
	<tr>
		<td align="center"> Entité (domaine) : </td>
		<td align="center"> <input disabled type="text" value="{{context.selectedEntity}}" > </td>
		<td align="center"> Fichier de Config.:</td>
		<td align="center">
			<select  id="ListeFic" name="ListeFic">
				<option value=999> Choisissez ... </option>
				{% for fic in context.listeFicYaml %}
					{% if fic == context.selectUserListeTable %}
					<option selected value={{fic}}> {{fic}} </option>option>
					{% else %}
					<option  value={{fic}}> {{fic}} </option>option>
					{%endif%}
				{%endfor%}
			<option value=000> Fin  </option>
			</select>
		</td>
		<td align="center" ><input type="submit" value="OK" /></td>		
	</tr>
</table>
</form>
</body>
</html>