<form action="" method="post">
    {% csrf_token %}

    {{ form.as_table }}

    <!--{{ form.as_p }}

    {{ form.as_ul }} -->
    <hr>
    <div class="fieldWrapper">
    {{ form.title.errors }}
    <label for="{{ form.title.id_for_label }}">Titre ?</label>
    {{ form.title }}
</div>

<HR><BR><HR>
Boucle dans le formulaire

    {% for field in form %}
	    <div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	{% endfor %}


   <input type="submit" value="Submit">


</form>